<!-- displays additional info on specified campground -->

<!-- header -->
<%- include('partials/header') %>

<!-- content -->
<h1><%= campground.name %></h1>
<img src="<%= campground.image %>">
<p><%= campground.description %> </p>

<!-- footer -->
<%- include('partials/footer') %>