
<!-- header -->
<%- include('../partials/header') %>

<!-- content -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <h1 class="mb-4 text-center">Edit <%= campground.name %></h1>
            <form class="form-group" action="/campgrounds/<%= campground._id %>/edit?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="name" placeholder="<%= campground.name%>" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="image" placeholder="<%= campground.image %>" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="description" placeholder="<%= campground.description %>" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
            <a class="text-center" href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<!-- footer -->
<%- include('../partials/footer') %>